.container {
  scroll-snap-type: y mandatory;
}

/* 인트로 */
.intro-wrap .inner {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.intro-wrap .inner > div {
  width: var(--main-width);
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.intro-l {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--main-ochreblue);
}

.intro-r {
  width: 30%;
  position: relative;
}

.intro-l-date {
  font-size: 32px;
  font-family: var(--font-raleway);
  margin-bottom: 15px;
}

.intro-l-lead {
  font-size: 82px;
  font-family: var(--font-dmserif);
  margin-bottom: 20px;
  line-height: 1.2;
}

.intro-l-sublead {
  font-size: 22px;
  color: #000;
  margin-bottom: 100px;
  font-family: var(--font-raleway);
  line-height: 1.4;
}

.intro-l-dutton {
  width: 240px;
  height: 65px;
  background: #00608d;
  border-radius: 32px;
  color: #fff;

  font-weight: 400;
  font-size: 18px;
  font-family: var(--font-raleway);
}

.intro-r-img img {
  position: relative;
  width: 380px;
  height: 550px;
  border-radius: 250px;
  object-fit: cover;
  z-index: 1;
}

.intro-r-img__border {
  position: absolute;
  top: 30px;
  left: -40px;
  z-index: 0;
  width: 380px;
  height: 550px;
  border-radius: 250px;
  border: 1px solid var(--main-ochreblue);
  z-index: 0;
}

.img-effect {
  position: absolute;
  top: -210px;
  right: -300px;
  opacity: 0.1;
}

.visual-wrap > .inner {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 비주얼 */

.visual-wrap > .inner {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.visual-wrap > .inner > div {
  width: var(--main-width);
  display: flex;
  justify-content: space-between;
}

.visual-l {
  width: 55%;
  display: flex;
  flex-direction: column;
  color: var(--main-ochreblue);
}

.count {
  width: 100%;
  border: 1px solid var(--main-ochreblue);
  padding: 30px 50px 20px 50px;
  display: flex;
  flex-direction: column;
}

.count span:first-child {
  margin-bottom: 5px;
  font-size: 40px;
  font-weight: 600;
  margin-left: 10px;
  font-family: var(--font-raleway);
}

.count-num {
  font-size: 120px;
  position: relative;
}

.count-num::after {
  content: "ea";
  position: absolute;
  bottom: 10px;
  right: 20px;
  font-size: 80px;
}

.visual-r {
  width: 35%;
  position: relative;
}

.overflow-box {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  height: 730px;
}

.overflow-box::-webkit-scrollbar {
  display: none;
}

.visual-r span {
  width: 100%;
  text-align: right;
}

.visual-lead {
  font-size: 82px;
  font-family: var(--font-dmserif);
  margin-bottom: 50px;
  line-height: 1;
  white-space: nowrap;
}

.visual-sublead {
  font-size: 22px;
  color: #000;
  margin-bottom: 100px;
  font-family: var(--font-raleway);
  line-height: 1.4;
}

.overflow-box {
  padding-top: 30px;
  align-items: end;
  border-top: 1px solid var(--main-ochreblue);
  border-bottom: 2px dashed var(--main-ochreblue);
}

.overflow-box > div {
  width: 80%;
  display: flex;
  flex-direction: column;

  margin-bottom: 50px;
}

.overflow-box > div img {
  border-radius: 15px;
  border: 2px solid var(--main-ochreblue);
}

.overflow-box span {
  font-size: 18px;
  margin-top: 5px;
  color: var(--main-ochreblue);
  font-weight: 500;
}

.scroll-down-i {
  position: absolute;
  left: 0;
  top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.scroll-down-i p {
  color: var(--main-ochreblue);
  margin-bottom: 15px;
  font-family: var(--font-raleway);
  font-size: 18px;
}

.count-button {
  width: 240px;
  height: 65px;
  border: 1px solid #00608d;
  border-radius: 32px;
  color: #00608d;
  background: none;

  font-weight: 400;
  font-size: 18px;
  font-family: var(--font-raleway);
  margin-top: 30px;
}

/* 뷰 슬라이드 */

.view__slide-wrap > .inner {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contents-wrap {
  width: var(--main-width);
  height: 700px;
}

.view__slide-head {
  width: 100%;
  display: flex;
  margin-bottom: 75px;
}

.view__slide-head span {
  width: 50%;
}

.view__slide-head span:first-child {
  font-size: 82px;
  font-family: var(--font-dmserif);
  margin-bottom: 50px;
  line-height: 1;
  white-space: nowrap;
  color: var(--main-ochreblue);
  line-height: 0.8;
}
.view__slide-head span:last-child {
  font-size: 22px;
  color: #000;
  font-family: var(--font-raleway);
  text-align: right;
  line-height: 1.4;
}

.swiper {
  width: 100%;
  height: 70%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: transparent;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  flex-direction: column;
  border-bottom: 2px solid var(--main-ochreblue);
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 93%;
  object-fit: cover;
}

.art__title {
  width: 97%;
  height: 5%;
  text-align: right;
}

.scrollbar-box {
  position: relative;
  width: 50%;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
}

.swiper-pagination-progressbar {
  position: unset !important;
  background: #d4e3ea !important;
  border-radius: 5px;
  width: 90% !important;
}

.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  background: var(--main-ochreblue) !important;
}

.pagination_fraction {
  position: unset !important;
  width: 20% !important;
  color: rgba(0, 0, 0, 0.3);
}

.swiper-pagination-current {
  color: var(--main-ochreblue);
  font-weight: 700;
}
