body {
  width: 100vw;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
#wrap {
  width: 100%;
  height: 100%;
}

header {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  width: 95%;
  height: 8%;
  z-index: 99;
}

nav {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#logo {
  position: absolute;
  left: 0;
  width: 100px;
  height: 30px;
  font-size: 18px;
  color: white;
  font-family: initial;
}

#menu {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  right: 0;
  width: 30px;
  height: 30px;
  z-index: 99;
}

#logo:hover,
#menu:hover {
  cursor: pointer;
}

#menu > div:first-child {
  width: 30px;
  height: 2px;
  background: white;
}

#menu > div:nth-child(2) {
  width: 30px;
  height: 2px;
  margin-top: 5px;
  background: white;
}

#menu > div:last-child {
  width: 30px;
  height: 2px;
  margin-top: 5px;
  background: white;
}

section {
  width: 100%;
  height: 100vh;
  position: relative;
}

.section1 {
  background-image: url(files/background-black.png);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 0;
}
.section2 {
  background-image: url(files/background-black.png);
  z-index: -1;
}

.section1-span {
  position: fixed;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  text-align: center;
  font-size: 130px;
  font-family: initial;
  color: white;
}

.section1-span1 {
  top: 40%;
  z-index: 7;
}
.section1-span2 {
  top: 60%;
  z-index: 9;
}

.museum {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 8;
}

.museumImg {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  width: 60%;
  height: auto;
}

.museumgateImg {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  width: auto;
  height: 20%;
  opacity: 1;
}
